body
{
	background-color: #505050;
}

.wrapper
{
	padding-top: 10px;
	width: 1420px;
	margin: 0 auto;
	position: relative;
}

header
{
	background-color: #909090;
	height: 117px;
	padding-top: 10px;
	padding-bottom: 10px;
}

header img
{
	margin:0;
	height: 100%;
}

.shadow
{
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
   box-shadow: 8px 11px 8px 0 #000;
}

.radius
{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.right_h
{
	float: right;
	position: relative;
	width: 286px;
}

.loupe
{
    height: auto;
    margin-top: 2px;
}

.reload
{
    float: right;
    height: auto;
    margin-right: 10px;
    width: 17px;
}

.close
{
    bottom: 31px;
    height: auto;
    margin-right: 10px;
    position: absolute;
    right: 0;
    width: 17px;
}

.middle
{
	margin-top: 20px;
	width: 100%;
	padding-left: 30px;


}
.middle .side
{
	background-color: #909090;
	float: left;

}

.side_left
{
	width: 105px;
	padding-left: 35px;
	height: 385px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.side_left img
{
	width: 70px;
	margin-bottom: 10px;
}
.side_mid
{
	margin-right: 30px;
	width: 1020px;
	margin-left: 30px;
	padding-bottom: 10px;
}

.side_right
{
	width: 131px;
	height: 425px;
	padding-top: 20px;
}

.side_right
{
	padding-left: 10px;
	text-align: center; 
}
.border_img
{
	border: 5px solid red;
	border-radius: 10px;
}

.cluster
{
	width: 1000px;
	margin-left: 10px;
	margin-top: 10px;
}

.book
{
	height: 87px;
	width: 55px;
}

.towel
{
	width: 78px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.brick
{
	background: repeat url('resources/brick.jpg');
	width: 120px;
	height: 70px;
}

.greenbox

{
	float: left;
	width: 510px;
	height: 170px;
	position: absolute;
	top: 665px;
	left: -42px;
	padding-left: 10px;
	background-color: #88FF89;
	font-family: Times;
}

.greenbox p

{
   font-size: 21px;
    margin-bottom: 0;
    margin-top: 0;
}
.bold

{
	font-size: 37px;
}

.txtsha
{
text-shadow: 7px 7px 5px rgba(255, 77, 49, 1);
}

.italic
{
	    font-size: 20px !important;
    font-style: italic;
}

.txt
{
	width: 380px;
}

.sub
{
    border: medium none;
    border-radius: 0;
    font-size: 13px;
    height: 19px;
    letter-spacing: 1.6px;
    padding-bottom: 20px;
    padding-top: 1px;
    width: 80px;
background: #f5f7f6; /* Old browsers */
background: -moz-linear-gradient(top, #f5f7f6 1%, #e2e2e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f5f7f6), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f5f7f6 1%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f5f7f6 1%,#e2e2e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f5f7f6 1%,#e2e2e2 100%); /* IE10+ */
background: linear-gradient(to bottom, #f5f7f6 1%,#e2e2e2 100%); /* W3C */
border: 1px solid #A8A4A5;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f6', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
