table
{
	width: 100%;
	height: 100%;
}
img
{
	margin-left: 45vw;
	width: 10vw;
	height: auto;
	float: left;
	position: relative;
}
td, th
{
	text-align: center;
	position: relative;
	border: 1px solid black;
}
h1
{
	text-align: center;
	color: white;
}
h3
{
	margin: 0;
	font-size: 1.4vw;
}
td p
{
	font-size: 1vw;
}
.title
{
	color: black;
}
.no_border
{
	border: none;
}
.numero
{
	position: absolute;
	text-align: left;
	margin: 0;
	bottom: 0;
}
.masse
{
	position: absolute;
	text-align: right;
	margin: 0;
	top: 0;
	right: 0;
	margin-right: 3px;
}
.green
{
	background-color: #52FF52;
}
.green_bold
{
	background-color: #91E39F;
}
.orange
{
	background-color: #FFD455;
}
.grey
{
	background-color: #E4C9C9;
}
.yellow
{
	background-color: #FFFF62;
}
.blue_white
{
	background-color: #AEE4D6;
}
.blue_bold
{
	background-color: #777777;
}
.magenta
{
	background-color: #56F2D8;
}
.bold_orange
{
	background-color: #FFC9AD;
}
.purple
{
	background-color: #F1C9E4;
}
